---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialRepo from "../components/SocialRepo.astro";
import EmailIcon from "../components/icons/Email.astro";
import JobIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Languages from "../components/Languages.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Learning from "../components/Learning.astro";
import LanguageIcon from "../components/icons/Language.astro";
import LearningIcon from "../components/icons/Certificate.astro";
---

<Layout
  title="Dilan Lopez - Desarrollador Fullstack"
  description="Contactame para trabajar conmigo."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-20">
      <div class="flex flex-col lg:flex-row items-center lg:items-start gap-10">
        <!-- Contenedor de la imagen -->
        <div class="flex-shrink-0 mx-auto lg:mr-10">
          <div class="relative group backdrop-blur-lg">
            <div
              class="p-[4px] rounded-[16px] border border-white backdrop-blur-md inline-block"
            >
              <img
                class="rounded-[16px] w-[200px] md:w-[150px] lg:w-[200px] h-auto select-none pointer-events-none"
                src="FotPerfil.png"
                alt="Foto de Dilan Lopez"
                draggable="false"
              />
            </div>
          </div>

          <!-- Sección CV -->
          <div
            class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-white/5 mt-2"
          >
            <h2 class="text-xl font-semibold tracking-wide">HV</h2>

            <div class="flex gap-3">
              <!-- 🔹 Botón Ver -->
              <a
                href="https://github.com/DilanLoz/Portafolio-Dev/blob/main/public/DilanLopez.pdf"
                target="_blank"
                title="Ver CV"
                class="w-8 h-8 flex items-center justify-center rounded-full bg-neutral-500/30 border border-neutral-400/40 hover:bg-neutral-500 transition-all duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-5 h-5 text-white"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                  <path
                    d="M12 18c-.328 0 -.652 -.017 -.97 -.05c-3.172 -.332 -5.85 -2.315 -8.03 -5.95c2.4 -4 5.4 -6 9 -6c3.465 0 6.374 1.853 8.727 5.558"
                  ></path>
                  <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                  <path d="M20.2 20.2l1.8 1.8"></path>
                </svg>
              </a>

              <!-- 🔹 Botón Descargar -->
              <a
                href="/DilanLopez.pdf"
                download="DilanLopez.pdf"
                title="Descargar HV"
                class="w-8 h-8 flex items-center justify-center rounded-full bg-sky-500/30 border border-neutral-400/40 hover:bg-sky-500 transition-all duration-300 text-white"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4v12m0 0l-3-3m3 3l3-3M4 20h16"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <!-- Contenido al lado derecho -->
        <div
          class="flex flex-col items-center lg:items-start text-center lg:text-left"
        >
          <h1
            id="inicio"
            class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
          >
            Soy Dilan Lopez
          </h1>
          <h2 class="text-xl lg:text-1xl pb-6 max-w-[700px] leading-relaxed">
            <span class="opacity-80">+2 año de experiencia. </span>
            <span
              class="font-extrabold
              bg-gradient-to-r
              from-emerald-400
              via-cyan-400
              to-blue-500
              bg-clip-text
              text-transparent
              drop-shadow-[0_0_12px_rgba(52,211,153,0.7)]
              animate-gradient-x
              scale-110
              transition-all
              duration-500"
            >
              Soy un desarrollador Full Stack apasionado por crear software moderno,
              optimizado y escalable.
            </span>

            <span class="opacity-80">
              Me enfoco en el backend con Python, PHP y Node.js, y también
              disfruto el desarrollo frontend con React, Next.js, Tailwind y TypeScript, con conocimiento en bases de datos relacionales y no relacionales y en proyectos de producción.
            </span>
          </h2>
          <nav class="flex gap-4 mt-5 flex-wrap">
            <SocialRepo href="https://github.com/DilanLoz">
              <GitHubIcon class="size-4 md:size-6" />GitHub
            </SocialRepo>
            <SocialRepo href="https://www.linkedin.com/in/dilan-lopez/">
              <LinkedInIcon class="size-4 md:size-6" />LinkedIn
            </SocialRepo>
            <SocialRepo href="mailto:dilaanlopz@gmail.com">
              <EmailIcon class="size-4 md:size-6" />dilaanlopz@gmail.com
            </SocialRepo>
          </nav>
        </div>
      </div>

      <!-- Botón para escritorio 
      <a
        href="https://www.linkedin.com/in/dilan-lopez/"
        target="_blank"
        rel="noopener noreferrer"
        class="hidden lg:flex my-5 ml-16"
      >
        <Badge>Disponible para trabajar hoy</Badge>
      </a>-->
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>

      <Projects limit={2} />

      <div class="flex justify-center mt-6">
        <a
          href="/proyectos"
          class="inline-flex items-center gap-2
    px-5 py-2
    rounded-full
    bg-white/10
    text-white font-semibold
    backdrop-blur-md
    border border-white/20
    hover:bg-white/20
    hover:scale-105
    transition-all duration-300"
        >
          Ver todos los proyectos →
        </a>
      </div>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <JobIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="tecnologias">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <LanguageIcon class="size-7" />
        Lenguajes y Tecnologías
      </h2>
      <Languages />
    </SectionContainer>
    <SectionContainer id="aprendizaje">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <LearningIcon class="size-7" />
        Formación y Certificaciones
      </h2>
      <Learning />
    </SectionContainer>
    <button
      id="btn-scroll-top"
      class="fixed bottom-16 right-40 z-50 bg-sky-400 text-black font-semibold p-3 rounded-full shadow-lg transition-all duration-300 hover:bg-sky-300 hover:scale-110 hidden text-2xl"
      title="Volver arriba"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-up-icon lucide-chevron-up"
        ><path d="m18 15-6-6-6 6"></path></svg
      >
    </button>
  </main>
  <script is:inline>
    const scrollBtn = document.getElementById("btn-scroll-top");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 300) {
        scrollBtn.classList.remove("hidden");
      } else {
        scrollBtn.classList.add("hidden");
      }
    });

    scrollBtn.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  </script>
  <style>
    @keyframes gradient-x {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .animate-gradient-x {
      background-size: 200% 200%;
      animation: gradient-x 4s ease infinite;
    }
  </style>
</Layout>
