---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialRepo from "../components/SocialRepo.astro";
import EmailIcon from "../components/icons/Email.astro";
import JobIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio de DilanLoz - Desarrollador y Programador Web y Aplicaciones Móviles"
  description="Contactame para trabajar conmigo."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-20">
      <img class="rounded-full mb-5 size-16" src="fotoDilan.jpg" alt="" />
      <h1 id="inicio" class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hey, soy Dilan Lopez <a
          href="https://www.linkedin.com/in/dilan-lopez/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl pb-6 text-wrap max-w-[700px">
        <span class="opacity-80">+2 años de experiencia. </span><span
          class="font-bold text-customAmarillo"
          >Desarrollador web y en aplicaciones móviles.
        </span><span class="opacity-80"
          >De Bogota, Colombia CO. Me especializo en crear soluciones.</span
        >
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialRepo href="https://github.com/DilanLoz">
          <GitHubIcon class="size-4 md:size-6" />GitHub
        </SocialRepo>
        <SocialRepo href="https://www.linkedin.com/in/dilan-lopez/">
          <LinkedInIcon class="size-4 md:size-6" />LinkedIn
        </SocialRepo>
        <SocialRepo href="mailto:dilanloz@gmail.com">
          <EmailIcon class="size-4 md:size-6" />dilanloz@gmail.com
        </SocialRepo>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <JobIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
 