---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mi Portafolio">
  <main>
    <h1>Portafolio</h1>
    <p>Bienvenido a mi portafolio personal creado con Astro.</p>
  </main>
</Layout>
