---
import ExperienceItem from "../components/ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Abril 2025 - Octubre 2025',
        empresa: 'BestFarms SAS',
        title: 'Desarrollador Junior Fullstack',
        description: 'Desarrollo y mantenimiento de un software de gestión agrícola en PHP, y bases de datos SQL e integración con APIs, correos electrónicos y autenticación con cifrado. Mejorar la toma de datos atraves de aplicaciones mobiles utilizando tecnologías como appsheet.',
        link: 'https://www.bestfarms.com.co/'  
    },
    {
        date: 'Noviembre 2023 - Febrero 2025',
        empresa: 'Proyecto de Tecnología',
        title: 'CoctelApp - Proyecto Tecnológico',
        description: 'Desarrollo completo de una aplicación para gestión de pedidos y facturación en PHP MVC. Implementación de sistema de reportes en PDF y archivos planos, correo electrónicos y demas fucnionalidades. Optimizando el rendimiento de consultas SQL y pruebas unitarias.',
        link: 'https://github.com/DilanLoz/CoctelApp'  
    },
]
---
<ol class="relative border-s border-gray-200 ml-2.5">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>

        ))
    }                  
</ol>

