<header class="flex justify-between items-center">
    <img class="rounded-full w-16 h-16" src="fotoDilan.jpg" alt="">
    <nav>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </nav>
</header>