---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

export const prerender = true;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="px-">
    <!-- Spinner global al cargar la página -->
    <div
      id="global-loader"
      class="fixed inset-0 bg-black/70 backdrop-blur-sm flex items-center justify-center z-[9999] transition-opacity duration-500"
    >
      <div class="flex flex-col items-center gap-3">
        <svg
          class="animate-spin h-12 w-12 text-green-400"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
        </svg>

        <p class="text-green-500 text-lg">Cargando...</p>
      </div>
    </div>

    <div
      class="fixed inset-0 -z-10 w-full h-full
  [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#166534_100%)]"
    >
    </div>

    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
    text: white;
  }
  body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
<script>
  // Espera hasta que TODOS los recursos carguen (imágenes, fuentes, etc.)
  window.addEventListener("load", () => {
    const loader = document.getElementById("global-loader");

    // Pequeña demora para que no desaparezca instantáneo
    setTimeout(() => {
      loader.style.opacity = "0";

      // Lo removemos completamente después de la animación
      setTimeout(() => {
        loader.style.display = "none";
      }, 500);
    }, 400); // <- aquí decides qué tan suave se siente (400–800ms recomendado)
  });
</script>
